[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/askmo/Desktop/Panel Inferior.tar.bz2]
row=4
col=0

[/home/askmo/Desktop/Panel Superior.tar.bz2]
row=5
col=0

[5458-65F6]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/askmo]
row=2
col=0

